---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



body {
  font-size: 14px; /* 전체 글씨 크기 */
}

.sidebar {
  font-size: 16px; /* 네비게이션 글씨 크기 */
}
