---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---
@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.sidebar-category {
  .nav__items {
    a {
      font-size: 11px !important;
    }
  }
}

.tag-box {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(51, 51, 51, 0.8); /* 반투명 배경 */
  color: #ffffff; /* 선명한 텍스트 색상 */
  border-radius: 8px; /* 둥근 모서리 */
  font-size: 12px; /* 텍스트 크기 */
  margin: 2px; /* 태그 간 간격 */
  border: 1px solid rgba(85, 85, 85, 0.8); /* 반투명 테두리 */
}

