/* assets/css/style.css */

/* 모든 요소에 13px 폰트 사이즈 적용 */
body, * {
  font-size: 13px;
  font-family: Arial, sans-serif; /* 기본 폰트 설정 */
}

/* 제목(Heading) 스타일 */
h1 {
  font-size: 25px; /* h1: 32px */
}

h2 {
  font-size: 22px; /* h2: 28px */
}

h3 {
  font-size: 18px; /* h3: 24px */
}

h4 {
  font-size: 16px; /* h4: 20px */
}

h5 {
  font-size: 15px; /* h5: 18px */
}

h6 {
  font-size: 14px; /* h6: 16px */
}

/* 링크 스타일 */
a {
  font-size: 16px; /* 링크 크기 기본 텍스트 크기와 동일 */





/* 사이드바 하위 메뉴 스타일 */
.nav__items .nav__item a {
  font-size: 11px !important;
}


.tag-box {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(51, 51, 51, 0.8); /* 반투명 배경 */
  color: #ffffff; /* 선명한 텍스트 색상 */
  border-radius: 8px; /* 둥근 모서리 */
  font-size: 9px; /* 텍스트 크기 */
  margin: 2px; /* 태그 간 간격 */
  border: 1px solid rgba(85, 85, 85, 0.8); /* 반투명 테두리 */
}
