---
layout: archive
---

{{ content }}

{% include skt-highlight.html %}

<!--  모바일 카테고리 토글 (Recent posts 위에 추가) -->
<div class="mobile-cats">
  <button class="category-toggle" id="category-toggle" type="button">
    📂 카테고리 보기
  </button>

  <div class="mobile-category" id="mobile-category">
    {% include nav_list nav="sidebar-category" %}
  </div>
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
